# Database connection URL
DB_URL=postgresql://localhost:5433/usigrabber
# alternatively, for sqlite:
# DB_URL=sqlite:///./database.db

# If a postgres URL is used, the following environment variables are required:
# ATTENTION: be sure to use the same credentials when running your database!
POSTGRES_USER=user
POSTGRES_PASSWORD=pass

# Enable SQL query logging by setting this variable
# DB_ECHO_SQL=1

# Directory for HTTP-, Ontology-, and other caches
CACHE_DIR=.cache
# for cluster:
# CACHE_DIR=/sc/projects/sci-renard/usi-grabber/.cache

# LOGLEVEL=DEBUG
# Specify a JSON file with sampled projects for debugging
# PROJECTS_FILENAME = "sampled_projects.json"

# Disable ontology lookup by setting this variable
# NO_ONTOLOGY=1

# Number of parallel downloads for fetching files
PARALLEL_DOWNLOADS=10

# Comma-separated list of allowed file extensions for download (choose from: mzid, mztab, txt)
FILETYPE_ALLOWLIST=mzid,mztab,txt
