# Database connection URL
DB_URL=sqlite:///./database.db
# alternatively, for Postgres:
# DB_URL=postgresql:///localhost:5432/usigrabber
# for cluster:
# DB_URL=sqlite:////sc/projects/sci-renard/usi-grabber/.db/database.db

# If a postgres URL is used, the following environment variables are required:
# ATTENTION: be sure to use the same credentials when running your database!
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password

# Enable SQL query logging
DB_ECHO_SQL=1

# Enable debug mode by setting this variable
DEBUG=1

# Directory for storing intermediate files
UG_DATA_DIR=./data
# for cluster:
# UG_DATA_DIR=/sc/projects/sci-renard/usi-grabber/shared/USI_data_dir

# Directory for HTTP-, Ontology-, and other caches
CACHE_DIR=./cache
# for cluster:
# CACHE_DIR=/sc/projects/sci-renard/usi-grabber/.cache
