.env
*.egg-info
__pycache__/
.venv/
.ruff_cache


# GitHub App credentials
gha-creds-*.json

# Local http request cache
aiohttp-cache.sqlite

# My local dir for data (-Konstantin)
data

# Database files
database.db
*.db
*.sqlite
*.sqlite3
test_*.db
dev_*.db
